body{
    background-image: url(./img/bgimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 80px;
    margin-right: 80px;
}

.main-nav{
    background-color:rgb(15, 15, 15);
    height: 80px;
    width: 1704px;
    margin-top: 10px;
}

.main-nav-f{
    color: white;
    border-bottom: solid black;
    margin-left: 550px;
}

.main-nav-br{
    border-bottom: solid black;
}

.Z-1{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.671);
    height: 100px;
}

.Z-H-1{
    text-align: center;
    color: white;
}

.Z-H-1-br{
    border-bottom: solid rgb(0, 140, 255); 
    width: 60%;
    margin-left: 350px;
}

.Z-1-T{
    text-align: center;
}

.Z-1-M{
    margin-top: 10px;
}

.Z-3{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.671);
    height: 100px;
}

.Z-H-3{
    padding-top: 30px;
    text-align: center;
    color: white;
}

.Z-H-3-br{
    border-bottom: solid rgb(0, 140, 255); 
    width: 60%;
    margin-left: 350px;
}

.Z-3-T{
    text-align: center;
}

.Z-3-M{
    margin-top: 10px;
}

.main-c-1{
    margin-top: 10px;
}

.m-c{
    background-color: rgb(15, 15, 15);
}

.m-c-t{
    color:rgb(0, 140, 255) ;
}

.main-dd{
    background-color: rgb(15, 15, 15);
}

.main-dd-f{
    color: white;
}