body{
    background-image: url(./img/Champions\ Field.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-left: 80px;
    margin-right: 80px;
}

p.impact {
font-family: Impact, Charcoal, sans-serif;
}

.main-nav{
    background-color: rgb(26, 26, 26);
    height: 80px;
    width: 1704px;
    position: fixed;
    margin-top: 10px;
}

.main-nav-f{
    color: white;
    border-bottom: solid black;
    margin-left: 550px;
}

.main-nav-br{
    border-bottom: solid black;
}

.bg-img{
    text-align: center;
    padding-top: 100px;
}

.bg-img-1{
    height: 500px;
    border: solid black;
    width: 100%;
}
