body {
  background-image: url(./img/Champions\ Field.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-left: 80px;
  margin-right: 80px;
}

.main-nav {
  background-color: rgb(26, 26, 26);
  height: 80px;
  width: 1704px;
  margin-top: 10px;
  margin-left: 20px;
}

.main-nav-f {
  color: white;
  border-bottom: solid black;
  margin-left: 550px;
}

.main-nav-br {
  border-bottom: solid black;
}
